.restrict {
    font: 1rem 'Fira Sans Bold', sans-serif;
}
#load_date {
    color: green;
    font-style: normal;
    font-family: Helvetica, sans-serif;
}
#code_snippet {
    font-size: larger;
    width: 80vw;
    padding: 5px;
    color: papayawhip;
    background-color: black;
}
