.ui-width {
    width: 80vw;
}
div {
    margin-bottom: 10px;
}
label {
    font: 1rem 'Fira Sans', sans-serif;
    display: inline-block;
    width: 40vw;
    text-align: right;
    padding-right: 1em;
    margin-top: 0.5em;
}
input {
    text-align: right;
}
#code_snippet {
    font-size: larger;
    height: 500px;
    padding: 5px;
    color: darkblue;
    background-color: lightgrey;
}
#div_button {
    display: flex;
    justify-content: center;
    margin-top: 0.5em;
}
#send_snippet {
    margin: 0 auto;
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 1px black;
    border-radius: 10px;
    background-color: rgba(220, 0, 0, 1);
    background-image: linear-gradient(to top left,
        rgba(0, 0, 0, .2),
        rgba(0, 0, 0, .2) 30%,
        rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
    inset -2px -2px 3px rgba(0, 0, 0, .6);
}
#send_snippet:hover {
    background-color: rgba(255, 0, 0, 1);
}
#send_snippet:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
    inset 2px 2px 3px rgba(0, 0, 0, .6);
}
p {
    font: 1rem 'Fira Sans', sans-serif;
    width: 80vw;
    text-align: center;
    font-size: larger;
    height: 150px;
    padding: 5px;
    color: darkgreen;
}