#load_date {
    color: green;
    font-style: normal;
    font-family: Helvetica;
}
#code_snippet {
    font-size: larger;
    display: inline-block;
    padding: 5px;
    color: papayawhip;
    background-color: black;
    border: crimson 5px solid;
}
