<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Latest</title>
    <link rel="stylesheet" th:href="@{css/code.css}"/>
    <link rel="stylesheet"
          href="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@latest/build/styles/default.min.css">
    <script src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@latest/build/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
</head>
<body>
<div th:each="code : ${codeSnippetResponseDTOList}">
    <span id="load_date" th:text="${code.date}"></span>
    <br>
    <pre id="code_snippet"><code><span th:text="${code.code}"></span></code></pre>
</div>
</body>
</html>